.job_portal_button {
    background: linear-gradient(180deg, #e100d4, #7b00a4);
    color: white; /* Button text color */
    border: none !important; /* Remove border */
    
   
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  
 .job_portal_button:hover {
    opacity: 0.9; /* Slight opacity change on hover for effect */
  }
  